/* Variables globales */


/* Casos especiales */
a{
    color: white;
    text-decoration: none;
}

/* Estructura princupal del html  */
.opcion-nav-principal{
    width: fit-content;
}

/* Para las opciones del desplegable */
option{
    font-size: 2vi;
}


.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
}

h1, h2, h3, h4, p{
    max-width: fit-content;
    white-space: nowrap;
    padding: 0;
    margin:0;
}

& p{
    font-size: 0.75vi;
    max-height: 3em;
}
& h3{
    font-size: 1.15vi;
}


body{
    color: white;
    font-size: 1vi;
    margin:0;
    font-family: 'Open Sans', sans-serif;

    & header{
        margin:0;
        padding:0;
        position: sticky;
        min-width: fit-content;

        & .container-barra-lateral{
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;

            & .barra-lateral{
                color:rgba(128, 128, 128, 0.191);
                position: absolute;
                overflow: hidden;
                display: none;
                background-color: white;
                height: 150em;
                width: 27em;
                margin:0;
                padding: 0;
                z-index: 120;

                & h3, h2, td, p{
                    padding: 2em;
                    margin: 0.5em;
                    margin-left: 1em;
                    color: black;
                }

                & h3{
                    margin-left: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                & .experiencia{
                    display: none;
                    white-space:inherit;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    min-height: 10em;
                    padding: 0.5em;
                }

                & .contenedor-imagen-user{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    background-color: rgb(19, 26, 34);

                    & img {
                        margin: 1em;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: solid white 2px;
                    }

                    & h2{
                        margin:0.75em;
                    }
                }
                
                & .contenedor-con-cabezera{
                    margin-top: 2em;
                    margin-left: 0;
                    margin-right: 0;
                    border-top: solid black thin;
                }

                & .contenedor-con-cabezera-logos{
                    
                    & .trabajo{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: row;

                        & .container{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-direction: column;
                            margin: 1.5em;
                            margin-top: 0.5em;
                            margin-bottom: 0;

                            & h2{
                                font-size: 1vi;
                                margin: 0.25em;
                                padding: 0;
                            }
    
                            & .tiempo-en-empresa{
                                padding: 0.1em;
                                margin-top: -0.5em;
                                max-width: 15em;
                                min-width: 12em;
                                text-align: center;
                            }
    
                            & img{
                                margin:0;
                                height: 40px;
                                width: 50px;
                                border-radius: 0.25vi;
                                border: black thin solid;
                            }
                        }

                        & .desplega-texto{
                            margin:0.5em;
                            background-color: transparent;
                            padding: 0;
                            width: 6em;
                            border-radius: 0.25em;
                            padding: 0.5em;
                        }
                    }
                    

                    /* & .experiencia{
                        display: none;
                        white-space:inherit;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        padding: 0.5em;
                    }
                     */
                    & #idiomas{
                        width: fit-content;
                    }

                    & .lenguas-idiomas{
                        display: flex;
                        align-items: center;
                        & .container{
                            justify-content:baseline;
                            & td{
                                padding: 0.2em;
                            }
                        }
                    }
                    
                }
            }

            & .zona-cierre-barra-lateral{
                position: absolute;
                left: 26em;
                display: none;
                padding: 0;
                opacity: 0.65;
                margin: 0;
                width: 100%;
                /* width: 7.85em; */
                padding: 0em;
                height: 150em;
                background-color: rgb(35, 47, 62);
            }
        }
        
        & .nav-principal{
            margin:0;
            padding-left: 1vi;
            padding-right: 1vi;
            padding: 0;
            background-color: rgb(19, 26, 34);

                & .opcion-logo{
                    margin: 0em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;

                    & a{
                        z-index: 1;

                        & h1{
                            font-size: 1.5vi;
                        }
        
                        & p{
                            justify-content: end;
                        }
                    }
        
                    & img{
                        position: absolute;
                        top: 1.5rem;
                        width: 8em;
                        height: 4em;
                    }
                }
        
                & .opcion-ubicacion{
                    padding: 1em;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    width: fit-content; 
                    font-size: medium;
                }
                
                & .opcion-buscador{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin:0;
                    padding: 2em;
                    & select{
                        background-color: rgb(144, 144, 141);
                        margin:0;
                        border: none;
                        height: 2.2em;
                        width: fit-content;
                        padding:0.5em;
                        border-bottom-left-radius: 0.25vi;
                        border-top-left-radius: 0.25vi;
        
                        & option{
                            border: none;
                            text-align: center;
                            background-color: azure;
                            
                        }
                    }
        
                    & input{
                        border: none;
                        margin: 0;
                        height: 2.05em;
                        min-width: 15em;
                    }
                    & button{
                        border: none;
                        margin:0;
                        padding:0.49em;
                        background-color: rgb(254, 189, 105);
                        justify-content: center;
                        align-items: center;
                        border-top-right-radius: 0.25vi;
                        border-bottom-right-radius: 0.25vi;
                    }
                }

                & .opcion-idiomas{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    margin:1em;

                    & select{
                        min-width: 6vi;
                        max-width: 6vi;
                        overflow: hidden;
                        border-bottom-right-radius: 1em;
                        border-top-right-radius: 1em;
                    }

                    & img{
                        width:23px;
                        height:17px;
                    }
                }

                & .opcion-contactame{
                    display: flex;
                    flex-direction: row;
                    justify-content:space-between;
                    align-items: center;
                    margin: 1em;

                    /* Estilos para el botón */
                    & .boton-desplegable {
                        border: none;
                        border-radius:1em;
                        font-size: 1vi;
                        color: white;
                        background-color: transparent;
                        /* cursor: pointer; */
                    }

                    & .boton-desplegable:hover {
                        background-color: transparent;
                        color: white;
                    }

                    /* Estilos para el menú desplegable */
                    & .desplegable {
                        display: none;
                        position: absolute;
                        background-color: white;
                        border-radius: 1em;
                    }

                    & .contenedor-links:hover .desplegable {
                        display: block;
                        color:white;
                    }

                    & .desplegable a {
                        display: block;
                        text-decoration: none;
                        color: black;
                        border-radius: 1vi;
                        padding: 1em;
                    }

                    & .desplegable a:hover {
                        background-color:white;
                        
                    }
                }
            }
            
        & .nav-secundary{
            background-color: rgb(35, 47, 62);
            min-width: 5em;
            font-size: 1vi;

            & .container{
                margin: 0.25em;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                & .desplegador-barra-lateral{
                    background-color:transparent;
                    border: none;
                    color:white;
                }
                
                & img{
                    width: 1em;
                    height: 1em;
                    margin-right:0.5em;
                }
            }
        }
    }

    & main{
        background-color: red;
        & .news-container{
            display: flex;
            flex-direction: row;
        
            & .move-btn{
                position: absolute;
                z-index: 100;
                height:36.5em;
                width: 3em;
                margin:0;
                padding: 1em;
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                border-color: transparent;
                background-size: contain;
                background-image: url(./Imagenes/direction-arrow.png);
            }

            /* Alineamos el otro boton con absolute */
            & .previous{
                rotate: 180deg;
            }

            & .next{
                left: 100.25em;
            }

            & .container-main-principal{
                min-width: 90em;
                padding: 1em;
                padding: 0;


                & .bg-container-main-principal{
                    width: 99em;
                    height:35em;
                    margin:0;
                    align-self: center;

                    & .cabezera-imagen-texto-main{
                        position: absolute;
                    }

                    & .contenido-imagen-texto-main{
                        position: absolute;
                    }

                }
                
            }
        }
    }
    & footer{
        background-color: blue;
    }
}



/* Logos y modificaciones */
#logo-ubicacion{
    height: 2vi;
    white-space: 2vi;
}

#buscar-icono{
    height: 1em;
    white-space: 1em;
}

#logo-todos-lenguajes{
    height: 1em;
    white-space: 1em;
}

#cabezera-barra-lateral{
    color: white;
}